{% extends '::layout.html.twig' %}
{% block title %} liste {% endblock %}

      {% block pageTitle %}
          <i class="glyphicon glyphicon-refresh"> </i>liste des artciles
      {% endblock %}
       {% block breadcrumb %}
           <li><a class="active">liste des articles</a></li>
           <li class="active">liste</li>
       {% endblock %}
{% block mainMenu %}
    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-parent">
            <a href="#"><i class="fa fa-home"></i> <span>Configuration</span></a>
            <ul class="children">
                <li><a href="{{ path('personnel') }}"><i class="fa fa-caret-right"></i>changement de mot de passe</a></li>
            </ul>
        </li>
        <li class="nav-parent">
            <a href="#"><i class="fa fa-home"></i> <span>Gestion de l'association</span></a>
            <ul class="children">
                <li><a href="{{ path('personnel') }}"><i class="fa fa-caret-right"></i>gestion des personnels</a></li>
                <li>
                    <a href=""><i class="fa fa-caret-right"></i>liste des adherents</a>
                </li>
                <li><a href=""><i class="fa fa-caret-right"></i> Liste des dons </a></li>
                <li><a href=""><i class="fa fa-caret-right"></i>service financier</a></li>
            </ul>
        </li>
        <li class="nav-parent">
            <a href="#"><i class="fa fa-home"></i> <span>Gestion de  site web</span></a>
            <ul class="children">
                <li><a href="{{ path('personnel') }}"><i class="fa fa-caret-right"></i>gestion des articles</a></li>
                <li>
                    <a href=""><i class="fa fa-caret-right"></i>gestion des pages</a>
                </li>
                <li><a href=""><i class="fa fa-caret-right"></i> gestion galerie </a></li>
                <li><a href=""><i class="fa fa-caret-right"></i>gestion des contacts</a></li>
            </ul>
        </li>
    {% else %}
        <li class="nav-parent  active nav-active">
            <a href="#"><i class="fa fa-home"></i> <span>Réclamations</span></a>
            <ul class="children" style="display: block;">
                <li>
                    <a href=""><i class="fa fa-caret-right"></i>Liste des réclamations</a>
                </li>
            </ul>
        </li>
        <li class="nav-parent">
            <a href="#"><i class="fa fa-home"></i> <span>Demandes</span></a>
            <ul class="children">
                <li><a href=""><i class="fa fa-caret-right"></i>Demandes de pièces</a></li>
                <li><a href=""><i class="fa fa-caret-right"></i> Changement de module</a></li>
                <li><a href=""><i class="fa fa-caret-right"></i>Elément à refaire</a></li>
                <li><a href=""><i class="fa fa-caret-right"></i>Module libre</a></li>

            </ul>
        </li>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-btns">
                <a href="#" class="minimize">&minus;</a>
            </div>
            <h4 class="panel-title">Liste des articles</h4>

            <p></p>
        </div>

        <div class="panel-body">
            <table class=" table  table-hidaction table-hover" id="list-type">
                <thead>
                <tr>
                    <th>Idarticle</th>
                    <th>Titre</th>
                    <th>Date publication</th>
                    <th>Image</th>
                    <th>statut</th>
                    <th>Auteur</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr class="odd gradeX">
                        <td><a href="{{ path('article_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.titre }}</td>
                        <td>{% if entity.datePub %}{{ entity.datePub|date('Y-m-d') }}{% endif %}</td>
                        <td>{% if entity.image %}<br><img class="img-responsive" height="50" width="50" src="{{ asset(entity.getImageWeb ) }}">{% endif %}</td>
                        <td>{{ entity.statut }}</td>
                        <td>{{ entity.auteur }}</td>
                        <td >
                            <a href="{{ path('article_show', { 'id': entity.id }) }}"><i class="fa fa-list-alt" title="show"></i></a>
                            <a href="{{ path('article_edit', { 'id': entity.id  }) }}" class="delete-row" title="edit"><i class="fa fa-pencil"></i></a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- panel-body -->

        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <center><a href="{{ path('article_new') }}" class="btn btn-primary">Ajouter un article</a>
                    </center>
                </div>
            </div>
        </div>
        <!-- panel-footer -->


    </div>
    <!-- panel-footer -->

{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     <script>
         jQuery(document).ready(function() {
             jQuery('#list-type').dataTable({
                 "sPaginationType": "full_numbers"
             });

             // Chosen Select
             jQuery("select").chosen({
                 'min-width': '100px',
                 'white-space': 'nowrap',
                 disable_search_threshold: 10
             });

             // Show aciton upon row hover
             jQuery('.table-hidaction tbody tr').hover(function(){
                 jQuery(this).find('.table-action-hide a').animate({opacity: 1});
             },function(){
                 jQuery(this).find('.table-action-hide a').animate({opacity: 0});
             });
         });
     </script>
 {% endblock %}
